body {
background: rgb(0,205,200);
background: linear-gradient(90deg, rgba(0,205,200,1) 21%, rgba(7,153,255,1) 52%, rgba(0,202,255,1) 79%);
text-decoration:none;
text-align:center;
}

h1 {
background:#6666dd;

text-align:center;
}

div {
text-align:center;
text-decoration:none;
max-width:400px;
background:#FFFFFF;
margin:auto;
border-radius:5px;
box-shadow:5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

ul {
display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content:center;
align-items:stretch;
padding:0;
margin-top:0;
text-decoration:none;
}

form {
text-align:center;
margin-left: 20px;
}
